env

*.pyc
__pycache__

.vscode

node_modules/
flask_session/
package-lock.json

*.egg-info/

config.py
client_secret_384465098645-99h8f4scbo1cmmb2le33q3dmvcertgiq.apps.googleusercontent.com (6).json