{% extends './base/layout.html' %}

{% block title %}
เพิ่มทีมย่อย/เปลี่ยนหน่วยงานใหม่
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>เพิ่มทีมย่อย/เปลี่ยนหน่วยงานใหม่</h1>

    <h3>1.โปรดเลือกจัดทีมย่อยหรือเพิ่มคนในหน่วยงาน</h3>
    <div class="required field">
        <div class="ui fluid selection dropdown">
            <input name="choose" type="hidden" value="none" onchange="selectCheck(this);">
            <i class="dropdown icon"></i>
            <div class="default text">กรุณาเลือกรายการ</div>
            <div class="menu">
                <div class="item" data-value="จัดทีมย่อย">จัดทีมย่อย</div>
                <div class="item" data-value="เพิ่มคนในหน่วยงาน">เพิ่มคนในหน่วยงาน</div>
            </div>
        </div>
    </div>

    <div id="editTeam" style="display: none;">
        <br>
        <h3>2.จัดทีมย่อย</h3>

        <br>
        <br>
        <button class="ui primary add-data-team button" type="button"><i class="plus add icon"></i>เพิ่มรายการ</button>
    </div>

    <div id="editSection" style="display: none;">
        <br>
        <h3>2.เพิ่มคนในหน่วยงาน</h3>

        <br>
        <br>
        <button class="ui primary add-data-section button" type="button"><i class="plus add icon"></i>เพิ่มรายการ</button>
    </div>

    
    <!-- ส่วนปุ่มจัดทีมย่อย -->
    <div class="ui add-data-team modal">
        <div class="header">
            เพิ่มรายการ
        </div>
        <div class="content">
            <!-- add data action -->
            <form id="add-form" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ชื่อ</label>
                    <input type="hidden" name="choose" value="add">
                    <input type="text" name="name" value="{{first_name.0.0}} {{last_name.0.0}}" readonly>
                </div>
                <div class="required field">
                    <label>วันที่ขอเปลี่ยน</label>
                    <input type="date" id="date" name="date" placeholder="dd/mm/YYYY" onchange="myScript()" required=""/>
                </div>
                <div class="field">
                    <label>กะเดิม/อื่น ๆ</label>
                    <div class="ui input">
                        <input type="text" id="box" name="OldShift" readonly>
                    </div>
                </div>
                <div class="required field">
                    <label>กะใหม่/อื่น ๆ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="NewShift" type="hidden" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือก</div> 
                        <div class="menu">
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                            <div class="item" data-value="ลา">ลา</div>
                            <div class="item" data-value="อบรม">อบรม</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" placeholder="โปรดระบุเหตุผล" required=""> 
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="add-form" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>


    <!-- ส่วนปุ่มแก้ไขจัดทีมย่อย -->
    {% for transaction in transactionChangeShift %}
    <div class="ui edit-data-team modal {{transaction.0}}">
        <div class="header">
            แก้ไขข้อมูล
        </div>
        <div class="content">
            <form id="edit-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ชื่อ</label>
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                    <input type="text" name="name" value="{{first_name.0.0}} {{last_name.0.0}}" readonly>
                </div>
                <div class="required field">
                    <label>วันที่ขอเปลี่ยน</label>
                    <input type="date" id="date{{transaction.0}}" name="date" placeholder="dd/mm/YYYY" value="{{transaction.2}}" onchange="myScript{{transaction.0}}()" required=""/>
                </div>
                <div class="field">
                    <label>กะเดิม/อื่น ๆ</label>
                    <div class="ui input">
                        <input type="text" id="box{{transaction.0}}" name="OldShift" value="{{transaction.3}}" readonly>
                    </div>
                </div>
                <div class="required field">
                    <label>กะใหม่/อื่น ๆ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="NewShift" type="hidden" value="{{transaction.4}}" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือก</div> 
                        <div class="menu">
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                            <div class="item" data-value="ลา">ลา</div>
                            <div class="item" data-value="อบรม">อบรม</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" placeholder="โปรดระบุเหตุผล" value="{{transaction.6}}" required=""> 
                </div>

            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}


    <!-- ส่วนปุ่มลบข้อมูลจัดทีมย่อย -->
    {% for transaction in transactionChangeShift %}
    <div class="ui delete-data-team modal {{transaction.0}}">
        <div class="header">
            ลบข้อมูล
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการลบข้อมูลหรือไม่ ?</label>
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}


    
    <!-- ส่วนปุ่มเพิ่มคนในหน่วยงาน -->
    <div class="ui add-data-section modal">
        <div class="header">
            เพิ่มรายการ
        </div>
        <div class="content">
            <!-- add data action -->
            <form id="add-form" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ชื่อ</label>
                    <input type="hidden" name="choose" value="add">
                    <input type="text" name="name" value="{{first_name.0.0}} {{last_name.0.0}}" readonly>
                </div>
                <div class="required field">
                    <label>วันที่ขอเปลี่ยน</label>
                    <input type="date" id="date" name="date" placeholder="dd/mm/YYYY" onchange="myScript()" required=""/>
                </div>
                <div class="field">
                    <label>กะเดิม/อื่น ๆ</label>
                    <div class="ui input">
                        <input type="text" id="box" name="OldShift" readonly>
                    </div>
                </div>
                <div class="required field">
                    <label>กะใหม่/อื่น ๆ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="NewShift" type="hidden" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือก</div> 
                        <div class="menu">
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                            <div class="item" data-value="ลา">ลา</div>
                            <div class="item" data-value="อบรม">อบรม</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" placeholder="โปรดระบุเหตุผล" required=""> 
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="add-form" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>


    <!-- ส่วนปุ่มแก้ไขเพิ่มคนในหน่วยงาน -->
    {% for transaction in transactionChangeShift %}
    <div class="ui edit-data-section modal {{transaction.0}}">
        <div class="header">
            แก้ไขข้อมูล
        </div>
        <div class="content">
            <form id="edit-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ชื่อ</label>
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                    <input type="text" name="name" value="{{first_name.0.0}} {{last_name.0.0}}" readonly>
                </div>
                <div class="required field">
                    <label>วันที่ขอเปลี่ยน</label>
                    <input type="date" id="date{{transaction.0}}" name="date" placeholder="dd/mm/YYYY" value="{{transaction.2}}" onchange="myScript{{transaction.0}}()" required=""/>
                </div>
                <div class="field">
                    <label>กะเดิม/อื่น ๆ</label>
                    <div class="ui input">
                        <input type="text" id="box{{transaction.0}}" name="OldShift" value="{{transaction.3}}" readonly>
                    </div>
                </div>
                <div class="required field">
                    <label>กะใหม่/อื่น ๆ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="NewShift" type="hidden" value="{{transaction.4}}" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือก</div> 
                        <div class="menu">
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                            <div class="item" data-value="ลา">ลา</div>
                            <div class="item" data-value="อบรม">อบรม</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" placeholder="โปรดระบุเหตุผล" value="{{transaction.6}}" required=""> 
                </div>

            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}


    <!-- ส่วนปุ่มลบข้อมูลเพิ่มคนในหน่วยงาน -->
    {% for transaction in transactionChangeShift %}
    <div class="ui delete-data-section modal {{transaction.0}}">
        <div class="header">
            ลบข้อมูล
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการลบข้อมูลหรือไม่ ?</label>
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}

</div>


<script>
$('.add-data-team.modal')
    .modal('attach events', '.add-data-team.button', 'show') //ใช้ปุ่มโดยเรียก add-data-team button
;
</script>

<script>
$('.add-data-section.modal')
    .modal('attach events', '.add-data-section.button', 'show') //ใช้ปุ่มโดยเรียก add-data-section button
;
</script>
    

{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.edit-data-team.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data-team.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data-team button
;
</script>
{% endfor %}

{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.edit-data-section.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data-section.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data-section button
;
</script>
{% endfor %}


{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.delete-data-team.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data-team.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data-team button
;
</script>
{% endfor %}

{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.delete-data-section.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data-section.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data-section button
;
</script>
{% endfor %}


<script>
    function selectCheck(that){
        if (that.value == "จัดทีมย่อย") {
                document.getElementById("editTeam").style.display = "block";
                document.getElementById("editSection").style.display = "none";
        }
        else if (that.value == "เพิ่มคนในหน่วยงาน"){
            document.getElementById("editSection").style.display = "block";
            document.getElementById("editTeam").style.display = "none";

        }
        else {
            document.getElementById("editTeam").style.display = "none";
            document.getElementById("editSection").style.display = "none";
        }
    }
</script>



{% endblock %}