{% extends './base/layout.html' %}

{% block title %}
เพิ่มทีมย่อย/เปลี่ยนหน่วยงานใหม่
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>เพิ่มทีมย่อย/เปลี่ยนหน่วยงานใหม่</h1>

    <h3>1.โปรดเลือกจัดทีมย่อยหรือเพิ่มคนในหน่วยงาน</h3>
    <div class="required field">
        <div class="ui fluid selection dropdown">
            <input name="choose" type="hidden" value="none" onchange="selectCheck(this);">
            <i class="dropdown icon"></i>
            <div class="default text">กรุณาเลือกรายการ</div>
            <div class="menu">
                <div class="item" data-value="จัดทีมย่อย">จัดทีมย่อย</div>
                <div class="item" data-value="เพิ่มคนในหน่วยงาน">เพิ่มคนในหน่วยงาน</div>
            </div>
        </div>
    </div>

    <div id="editTeam" style="display: none;">
        <br>
        <h3>2.จัดทีมย่อย</h3>

        <br>
        <br>
        <button class="ui primary add-data-team button" type="button"><i class="plus add icon"></i>เพิ่มรายการ</button>
    </div>

    <div id="editSection" style="display: none;">
        <br>
        <h3>2.เพิ่มคนในหน่วยงาน</h3>

        <br>
        <br>
        <button class="ui primary add-data-section button" type="button"><i class="plus add icon"></i>เพิ่มรายการ</button>
    </div>

    <!-- <form class="ui form segment" action="/employee/edit/addemployee" method="POST">
        <div class="field">
            <h3>1.ค้นหาข้อมูลพนักงาน</h3>
            <div class="ui fluid search selection dropdown">
                <input type="hidden" name="employee">
                <i class="dropdown icon"></i>
                <div class="default text">Select employee</div>
                <div class="menu">
                    <div class="item" data-value="af">0150-123457 กฤต</div>
                    <div class="item" data-value="ax">0150-123456 หวาน</div>
                    <div class="item" data-value="ax">0150-123458 ตาล</div>
                </div>
            </div> 
        </div>


        <div id="center-button">
            <button class="ui blue button" type="submit">แสดง</button>
        </div>
        <br>
        <br>

        
        <div class="table-scrolling">
            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th>เลขประจำตัว</th>
                        <th>ชื่อ</th>
                        <th>หน่วยงาน</th>
                        <th>ทีมย่อย</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>0150-696969</td>
                            <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                            <td>TS4</td>
                            <td> </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h4>เพิ่มทีมย่อย</h4>
        <div class="table-scrolling">
            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th>เลขประจำตัว</th>
                        <th>ชื่อ</th>
                        <th>วันเริ่มต้น</th>
                        <th>รูปแบบตารางกะ</th>
                        <th>เพิ่มทีมย่อย</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>0150-696969</td>
                            <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                            <td>20-06-2022</td>
                            <td>DD202101</td>
                            <td>
                                <div class="field">
                                    <input type="text" name="หน่วยงาน" placeholder="หน่วยงาน">
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="ui primary button" type="submit"><i class="plus add icon"></i>เพิ่มรายการ</button>

        <br>
        <br>
        <br>
        <h4>เปลี่ยนหน่วย (ทีมย่อยของท่านจะถูกลบ)</h4>
        <div class="table-scrolling">
            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th>เลขประจำตัว</th>
                        <th>ชื่อ</th>
                        <th>วันเริ่มต้น</th>
                        <th>รูปแบบตารางกะ</th>
                        <th>หน่วยงานเดิม</th>
                        <th>หน่วยงานใหม่</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>0150-696969</td>
                            <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                            <td>20-06-2022</td>
                            <td>DD202101</td>
                            <td>TS4</td>
                            <td>
                                <div class="field">
                                    <div class="ui fluid selection dropdown">
                                        <input type="hidden" name="เลือกเปลี่ยน">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">Select</div>
                                        <div class="menu">
                                            <div class="item" data-value="af">TS5</div>
                                        </div>
                                    </div> 
                                </div>
                            </td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <button class="ui primary button" type="submit"><i class="plus add icon"></i>เพิ่มรายการ</button> -->
        <!-- ทำหน้าหรือช่องพิมพ์เพิ่มข้อมูลในตารางคล้ายๆ flaskintroduction -->

        <!-- <br>
        <br>
        <br> -->
        <!-- <h4>dddd</h4>
        <div class="table-scrolling">
            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th>เลขประจำตัว</th>
                        <th>ชื่อ</th>
                        <th>วันเริ่มต้น</th>
                        <th>รูปแบบตารางกะ</th>
                        <th>หน่วยงานเดิม</th>
                        <th>หน่วยงานใหม่</th>
                        <th>เพิ่มทีมย่อย</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>0150-696969</td>
                            <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                            <td>20-06-2022</td>
                            <td>DD202101</td>
                            <td>TS4</td>
                            <td>TS5</td>
                            <td>ฝ่ายต้อนรับ</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br> -->

        <!-- <div id="foot-button" style="width:100%;text-align:center;"> -->
            <!-- <button class="ui inverted red button" formaction="/">ปิด</button> -->
            <!-- <button class="ui green button" formaction="/employee/edit/addemployee/addemployeesummary">บันทึก</button>
        </div>
    </form> -->

</div>


<script>
$('.add-data-team.modal')
    .modal('attach events', '.add-data-team.button', 'show') //ใช้ปุ่มโดยเรียก add-data-team button
;
</script>

<script>
$('.add-data-section-team.modal')
    .modal('attach events', '.add-data-section-team.button', 'show') //ใช้ปุ่มโดยเรียก add-data-section-team button
;
</script>
    
{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.edit-data.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data button
;
</script>
{% endfor %}

{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.delete-data.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data button
;
</script>
{% endfor %}


<script>
    function selectCheck(that){
        if (that.value == "จัดทีมย่อย") {
                document.getElementById("editTeam").style.display = "block";
                document.getElementById("editSection").style.display = "none";
        }
        else if (that.value == "เพิ่มคนในหน่วยงาน"){
            document.getElementById("editSection").style.display = "block";
            document.getElementById("editTeam").style.display = "none";

        }
        else {
            document.getElementById("editTeam").style.display = "none";
            document.getElementById("editSection").style.display = "none";
        }
    }
</script>



{% endblock %}