{% extends './base/layout.html' %}

{% block title %}
สรุปการเพิ่มทีมย่อย/เปลี่ยนหน่วยงานใหม่
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>สรุปการเพิ่มทีมย่อย/เปลี่ยนหน่วยงานใหม่</h1>
    <form class="ui form segment" action="/employee/edit/addemployee/addemployeesummary/addemployeetransactionend" method="POST">
        
        <h3>เพิ่มทีมย่อยไม่ต้องอนุมัติ</h3>
        <div class="table-scrolling">
            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th>เลขประจำตัว</th>
                        <th>ชื่อ</th>
                        <th>วันเริ่มต้น</th>
                        <th>รูปแบบตารางกะ</th>
                        <th>เพิ่มทีมย่อย</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>0150-696969</td>
                            <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                            <td>20-06-2022</td>
                            <td>DD202101</td>
                            <td>แผนกต้อนรับ</td>
                        </tr>
                    </tbody>
            </table>
        </div>

        <h3>เปลี่ยนหน่วยงานต้องรออนุมัติ</h3>
        <div class="table-scrolling">
            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th>เลขประจำตัว</th>
                        <th>ชื่อ</th>
                        <th>วันเริ่มต้น</th>
                        <th>รูปแบบตารางกะ</th>
                        <th>หน่วยงานเดิม</th>
                        <th>หน่วยงานใหม่</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>0150-696969</td>
                            <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                            <td>20-06-2022</td>
                            <td>DD202101</td>
                            <td>TS4</td>
                            <td>TS5</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <br>
        <br>
        <div id="foot-button" style="width:100%;text-align:center;">
            <!-- <button class="ui inverted red button" formaction="/">ปิด</button> -->
            <button class="ui yellow button" formaction="/employee/edit/addemployee">แก้ไข</button>
            <button class="ui button red" type="button">ยกเลิก</button>
            <button class="ui green button" type="submit">ขออนุมัติ</button>
        </div>
    </form>

</div>



<script>

</script>

{% endblock %}