{% extends './base/layout.html' %}

{% block title %}
ตรวจสอบสถานะการทำงาน
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>ตรวจสอบสถานะการทำงาน</h1>
    <br>
    <br>
    <br>
    <a href="/employee/edit/status/pending">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="ui yellow button fluid">รออนุมัติ {{waitCount}} รายการ</button>
        </div>
    </a>
    <br>
    <br>
    <a href="/employee/edit/status/approve">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="ui green button fluid">อนุมัติแล้ว {{approveCount}} รายการ</button>
        </div>
    </a>
    <br>
    <br>
    <a href="/employee/edit/status/reject">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="ui red button fluid">ถูกปฏิเสธ {{rejectCount}} รายการ</button>
        </div>
    </a>
    <br>
    <a href="/employee/edit">
        <div id="foot-button" style="display: flex; justify-content: center; align-items: center;">
            <button class="ui secondary button">กลับ</button>
        </div>
    </a>

</div>


<script>

</script>

{% endblock %}