{% extends './base/layout.html' %}

{% block title %}
สลับกะกับเพื่อน
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>สลับกะกับเพื่อน</h1>

    <form class="ui form segment" action="/employee/edit/shift/cowork/coworksummary" method="POST">
        <h3>1.โปรดเลือกจำนวนคนที่ต้องการสลับ</h3>

        <div class="required field">
            <div class="ui fluid selection dropdown">
                <input name="employee" type="hidden" value="สองคน" onchange="selectCheck(this);">
                <i class="dropdown icon"></i>
                <div class="default text">2 หรือ 3 คน</div>
                <div class="menu">
                    <div class="item" data-value="สองคน">2 คน</div>
                    <div class="item" data-value="สามคน">3 คน</div>
                </div>
            </div>
        </div>

        <h3>2.โปรดเลือก ชื่อ วันที่ และกะที่ต้องการสลับ</h3>

        <!-- สลับกะ 2 คน -->
        <div id="two">
            <div class="table-scrolling">
                <table class="ui celled unstackable table">
                    <thead>
                        <tr>
                            <th>ชื่อ</th>
                            <th>วันที่ขอเปลี่ยน</th>
                            <th>กะเดิม</th>
                            <th>กะใหม่(ระบุ)</th>
                        </tr>
                    </thead>
                        <tbody>
                            <tr>
                                <td>
                                    {{first_name.0.0}} {{last_name.0.0}}
                                </td>
                                <td>
                                    <div class="required field">
                                        <input type="date" id="date2-1" name="date2-1" placeholder="dd/mm/YYYY" onchange="myScriptDate2P()"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <input type="text" id="box2-1" name="OldShift2-1" readonly>
                                    </div>
                                </td>
                                <td>
                                    <div class="required field">
                                        <div class="ui fluid selection dropdown">
                                            <input name="NewShift2-1" type="hidden" required="">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">เลือกกะ</div>
                                            <div class="menu">
                                                <div class="item" data-value="01">1</div>
                                                <div class="item" data-value="02">2</div>
                                                <div class="item" data-value="03">3</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="required field">
                                        <div class="ui fluid selection dropdown">
                                            <input name="name2-2" id="name2-2" type="hidden" required="" onchange="queryShift2P()">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">เลือกชื่อพนักงาน</div>
                                            <div class="menu"   >
                                                {% for name in idSub_team %}
                                                    <div class="item" data-value="{{name.0}}">{{name.1}} {{name.2}} </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <input type="date" id="date2-2" name="date2-2" placeholder="dd/mm/YYYY" readonly onchange="queryShift2P()"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <input type="text" id="box2-2" name="OldShift2-2" readonly>
                                    </div>
                                </td>
                                <td>
                                    <div class="required field">
                                        <div class="ui fluid selection dropdown">
                                            <input name="NewShift2-2" type="hidden" required="">
                                            <i class="dropdown icon"></i>
                                            <div class="default text">เลือกกะ</div>
                                            <div class="menu">
                                                <div class="item" data-value="01">1</div>
                                                <div class="item" data-value="02">2</div>
                                                <div class="item" data-value="03">3</div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
        </div>

        <!-- สลับกะ 3 คน -->
        <div id="three" style="display: none;">
            <div class="table-scrolling">
                <table class="ui celled unstackable table">
                    <thead>
                        <tr>
                            <th>ชื่อ</th>
                            <th>วันที่ขอเปลี่ยน</th>
                            <th>กะเดิม</th>
                            <th>กะใหม่(ระบุ)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                {{first_name.0.0}} {{last_name.0.0}}
                            </td>
                            <td>
                                <div class="required field">
                                    
                                    <input type="date" id="date3-1" name="date3-1" placeholder="dd/mm/YYYY" onchange="myScriptDate3P()"  />
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <input type="text" id="box3-1" name="OldShift3-1" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="required field">
                                    <div class="ui fluid selection dropdown">
                                        <input name="NewShift3-1" type="hidden" required="">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">เลือกกะ</div>
                                        <div class="menu">
                                            <div class="item" data-value="01">1</div>
                                            <div class="item" data-value="02">2</div>
                                            <div class="item" data-value="03">3</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <div class="required field">
                                    <div class="ui fluid selection dropdown">
                                    
                                        <input name="name3-2" id="name3-2" type="hidden" required="" onchange="queryShift3P2()" >
                                        <i class="dropdown icon"></i>
                                        <div class="default text">เลือกชื่อพนักงาน</div>
                                        <div class="menu">
                                            {% for name in idSub_team %}
                                                <div class="item" data-value="{{name.0}}">{{name.1}} {{name.2}}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <input type="date" id="date3-2" name="date3-2" placeholder="dd/mm/YYYY" readonly onchange="queryShift3P2()" />
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <input type="text" id="box3-2" name="OldShift3-2" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="required field">
                                    <div class="ui fluid selection dropdown">
                                        <input name="NewShift3-2" type="hidden" required="">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">เลือกกะ</div>
                                        <div class="menu">
                                            <div class="item" data-value="01">1</div>
                                            <div class="item" data-value="02">2</div>
                                            <div class="item" data-value="03">3</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td>
                                <div class="required field">
                                    <div class="ui fluid selection dropdown">
                                        <input name="name3-3" id="name3-3" type="hidden" required="" onchange="queryShift3P3()">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">เลือกชื่อพนักงาน</div>
                                        <div class="menu">
                                            {% for name in idSub_team %}
                                                <div class="item" data-value="{{name.0}}">{{name.1}} {{name.2}}</div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <input type="date" id="date3-3" name="date3-3" placeholder="dd/mm/YYYY" readonly  onchange="queryShift3P3()"/>
                                </div>
                            </td>
                            <td>
                                <div class="field">
                                    <input type="text" id="box3-3" name="OldShift3-3" readonly>
                                </div>
                            </td>
                            <td>
                                <div class="required field">
                                    <div class="ui fluid selection dropdown">
                                        <input name="NewShift3-3" type="hidden" required="">
                                        <i class="dropdown icon"></i>
                                        <div class="default text">เลือกกะ</div>
                                        <div class="menu">
                                            <div class="item" data-value="01">1</div>
                                            <div class="item" data-value="02">2</div>
                                            <div class="item" data-value="03">3</div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- จบตรงเเสดง เพิ่มพนักงานในหน่วยงาน -->

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h3>3.โปรดระบุเหตุผลที่ต้องการเปลี่ยน</h3>
        <div class="required field">
            <input type="text" name="reason" placeholder="ระบุเหตุผล" required="">
        </div>
        <br>
        <div id="foot-button">
            <!-- <button class="ui inverted red button" formaction="/employee/edit/shift">กลับ</button> -->
            <button class="ui green button" type="submit">บันทึก</button>
        </div>
    </form>
</div>


<script>
    function selectCheck(that){
        if (that.value == "สองคน") {
                document.getElementById("two").style.display = "block";
                document.getElementById("three").style.display = "none";
        }
        else if (that.value == "สามคน"){
            document.getElementById("three").style.display = "block";
            document.getElementById("two").style.display = "none";

        }
        else {
            document.getElementById("two").style.display = "none";
            document.getElementById("three").style.display = "none";
        }
    }
</script>




<script>
    const date = [] 
    date[0] = ['2022-07-10', '0150-123457','1']
    date[1] = ['2022-07-10', '0150-123458','2']
    date[2] = ['2022-07-10', '0150-123459','3']

   
    // เปลี่ยนกะสองคน
    function myScriptDate2P() {
        var datee = document.getElementById("date2-1").value
        document.getElementById("date2-2").value = datee ;
        queryShift2P()
        var check = true 
    
        for (var i = 0; i < date.length; i++) {
            if (date[i][0] == datee  ) {       
                document.getElementById("box2-1").value = date[i][2] ;
                check = false 
                break
            }           
        }
        if (check) {
            document.getElementById("box2-1").value = "ไม่พบข้อมูล" ;
        }
    }
  
    function queryShift2P() {
        var datee2 = document.getElementById("date2-1").value
        var name = document.getElementById("name2-2").value
        var check = true 
    
        for (var i = 0; i < date.length ; i++) {

            if (date[i][0] == datee2 && date[i][1] == name ) {       
                document.getElementById("box2-2").value = date[i][2] ;
                check = false 
                break
            }           
        }
        if (check) {
            document.getElementById("box2-2").value = "ไม่พบข้อมูล" ;
        }
    }
    
    
    //เปลี่ยนกะสามคน
    function myScriptDate3P() {
        var datee3 = document.getElementById("date3-1").value
        document.getElementById("date3-2").value = datee3 ;
        document.getElementById("date3-3").value = datee3 ;
        queryShift3P()
        queryShift3P2()
        queryShift3P3()
    }


    function queryShift3P() {
        var datee3_1 = document.getElementById("date3-1").value
        var check = true 
    
        for (var i = 0; i < date.length ; i++) {

            if (date[i][0] == datee3_1 ) {       
                document.getElementById("box3-1").value = date[i][2] ;
                check = false 
                break
            }           
        }
        if (check) {
            document.getElementById("box3-1").value = "ไม่พบข้อมูล" ;
        }
    }

    function queryShift3P2() {
        var datee3_2 = document.getElementById("date3-2").value
        var name3_2 = document.getElementById("name3-2").value
        
        var check = true 
        for (var i = 0; i < date.length; i++) {
            if (date[i][0] == datee3_2 && date[i][1] == name3_2 ) { // && data3_2[i][0] == datee2 && data3_3[i][0] == datee3
                document.getElementById("box3-2").value = date[i][2] ;
                
                check = false 
                break
            }
        }
        if (check) {
            document.getElementById("box3-2").value = "ไม่พบข้อมูล" ;
            
        }
    }

    function queryShift3P3() {
        var datee3_3 = document.getElementById("date3-3").value
        var name3_3 = document.getElementById("name3-3").value
        
        var check = true 
        for (var i = 0; i < date.length; i++) {
            if (date[i][0] == datee3_3 && date[i][1] == name3_3 ) { // && data3_2[i][0] == datee2 && data3_3[i][0] == datee3
                document.getElementById("box3-3").value = date[i][2] ;
                
                check = false 
                break
            }
        }
        if (check) {
            document.getElementById("box3-3").value = "ไม่พบข้อมูล" ;
            
        }
    }

</script>

{% endblock %}