{% extends './base/layout.html' %}

{% block title %}
เปลี่ยนรูปแบบการทำงานและวันหยุด
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>เปลี่ยนรูปแบบการทำงานและวันหยุด</h1>
    
    {% if transactionChangeWork_element < 1 %}
    <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <th>ชื่อ</th>
                <th>วันที่มีผล</th>
                <th>รูปแบบการทำงานเดิม</th>
                <th>รูปแบบการทำงานใหม่</th>
                <th>วันหยุดเดิม</th>
                <th>วันหยุดใหม่</th>
                <th>เลือกรูปแบบกะ</th>
                <th>เหตุผล</th>
                <th> </th>
                <th> </th>
            </thead>
            <tbody>
                {% for transaction in transactionChangeWork %}
                <tr>
                    <td>{{transaction.2}} {{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                    <td>{{transaction.12}}</td>
                    <td>{{transaction.13}}</td>
                    <td>{{transaction.14}}</td>
                    <td>{{transaction.15}}</td>
                    <td>{{transaction.16}}</td>
                    <td>{{transaction.6}}</td>
                    <td>
                        <a class="ui orange edit-data button {{transaction.0}}">แก้ไข</a>
                    </td>
                    <td>
                        <a class="ui red delete-data button {{transaction.0}}">ลบ</a>
                    </td>
                </tr>
                

                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endif %}


    <button class="ui primary add-data button" type="button"><i class="plus add icon"></i>เพิ่มรายการ</button>
    <!-- <button class="ui primary add-data button" type="button"><i class="plus add icon"></i>เพิ่มเพื่อนทั้งทีม (ลบออกภายหลังได้)</button> -->
    
    <!-- ส่วนปุ่มเพิ่มข้อมูล -->
    <div class="ui add-data modal">
        <div class="header">
            เพิ่มรายการ
        </div>
        <div class="content">
            <!-- add data action -->
            <form id="add-form" class="ui form" action="{{ url_for('employee.chooseEditShiftAndOff') }}" method="POST">
                <div class="field">
                    <input type="hidden" name="choose" value="add">
                </div>
                <div class="required field">
                    <label>ชื่อ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="name" id="name" type="hidden" onchange="queryWorkData()" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือกชื่อพนักงาน</div>
                        <div class="menu">
                            {% for name in idSub_teamAll %}
                                <div class="item" data-value="{{name.0}}">{{name.1}} {{name.2}}</div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>วันที่มีผล(โปรดเลือกวันจันทร์เท่านั้น)</label>
                    <!-- <input type="text" id="datepicker" name="date" required=""/> -->
                    <input type="date" id="date" name="date" required=""/>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>รูปแบบการทำงานเดิม</label>
                        <div class="ui input">
                            <input type="text" id="Oldwork_type" name="Oldwork_type" readonly>
                        </div>
                    </div>
                    <div class="required field">
                        <label>รูปแบบการทำงานใหม่</label>
                        <div class="ui fluid selection dropdown">
                            <input name="Newwork_type" id="Newwork_type" type="hidden" onchange="checkDayoff()" required="">
                            <i class="dropdown icon"></i>
                            <div class="default text">เลือก</div> 
                            <div class="menu">
                                <div class="item" data-value="ปกติ(STS)">ปกติ(STS)</div>
                                <div class="item" data-value="ปกติ(CPAC)">ปกติ(CPAC)</div>
                                <div class="item" data-value="กะ(STS)">กะ(STS)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>วันหยุดเดิม</label>
                        <div class="ui input">
                            <input type="text" id="Oldoff_code" name="Oldoff_code" readonly>
                        </div>
                    </div>
                    <div class="required field">
                        <label>วันหยุดใหม่</label>
                        <div class="ui fluid selection dropdown">
                            <input name="Newoff_code" id="Newoff_code" type="hidden" onchange="checkDayoff()" required="">
                            <i class="dropdown icon"></i>
                            <div class="default text">เลือก</div> 
                            <div class="menu">
                                <div class="item" data-value="จันทร์-อังคาร">จันทร์-อังคาร</div>
                                <div class="item" data-value="พุธ-พฤหัสบดี">พุธ-พฤหัสบดี</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="required field" id="select">
                    <label>เลือกรูปแบบกะ</label>
                    <select name="section_code" id="section_code" style="width: 100%;" class="operator" required> 
                        <option value="">เลือกรหัสรูปแบบการทำงาน</option>
                    </select>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" required=""> 
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="add-form" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>

    

    <!-- ส่วนปุ่มแก้ไข -->
    {% for transaction in transactionChangeWork %}
    <div class="ui edit-data modal {{transaction.0}}">
        <div class="header">
            แก้ไขข้อมูล
        </div>
        <div class="content">
            <form id="edit-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.chooseEditShiftAndOff') }}" method="POST">
                <div class="field">
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionChangeWork_id" value="{{transaction.0}}">
                </div>
                <div class="required field">
                    <label>ชื่อ</label>
                    <input type="text" name="name" id="name{{transaction.0}}" value="{{transaction.2}} {{transaction.3}}" onchange="queryWorkData{{transaction.0}}()" readonly>
                    <!-- <div class="ui fluid selection dropdown">
                        <input name="name" id="name{{transaction.0}}" type="hidden" value="{{transaction.1}}" onchange="queryWorkData{{transaction.0}}()" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือกชื่อพนักงาน</div>
                        <div class="menu">
                                <div class="item" data-value="{{transaction.1}}">{{transaction.2}} {{transaction.3}}</div>
                            {% for name in idSub_teamAll %}
                                <div class="item" data-value="{{name.0}}">{{name.1}} {{name.2}}</div>
                            {% endfor %}
                        </div>
                    </div> -->
                </div>
                <div class="required field">
                    <label>วันที่มีผล(โปรดเลือกวันจันทร์เท่านั้น)</label>
                    <input type="date" id="date{{transaction.0}}" name="date" value="{{transaction.4}}" placeholder="dd/mm/YYYY" required=""/>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>รูปแบบการทำงานเดิม</label>
                        <div class="ui input">
                            <input type="text" id="Oldwork_type{{transaction.0}}" value="{{transaction.12}}" name="Oldwork_type" readonly>
                        </div>
                    </div>
                    <div class="required field">
                        <label>รูปแบบการทำงานใหม่</label>
                        <div class="ui fluid selection dropdown">
                            <input name="Newwork_type" id="Newwork_type{{transaction.0}}" type="hidden" value="{{transaction.13}}" onchange="checkDayoff{{transaction.0}}()" required="">
                            <i class="dropdown icon"></i>
                            <div class="default text">เลือก</div> 
                            <div class="menu">
                                <div class="item" data-value="ปกติ(STS)">ปกติ(STS)</div>
                                <div class="item" data-value="ปกติ(CPAC)">ปกติ(CPAC)</div>
                                <div class="item" data-value="กะ(STS)">กะ(STS)</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>วันหยุดเดิม</label>
                        <div class="ui input">
                            <input type="text" id="Oldoff_code{{transaction.0}}" value="{{transaction.14}}" name="Oldoff_code" readonly>
                        </div>
                    </div>
                    <div class="required field">
                        <label>วันหยุดใหม่</label>
                        <div class="ui fluid selection dropdown">
                            <input name="Newoff_code" id="Newoff_code{{transaction.0}}" type="hidden" value="{{transaction.15}}" onchange="checkDayoff{{transaction.0}}()" required="">
                            <i class="dropdown icon"></i>
                            <div class="default text">เลือก</div> 
                            <div class="menu">
                                <div class="item" data-value="จันทร์-อังคาร">จันทร์-อังคาร</div>
                                <div class="item" data-value="พุธ-พฤหัสบดี">พุธ-พฤหัสบดี</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="required field" id="select{{transaction.0}}">
                    <label>เลือกรูปแบบกะ</label>
                    <select name="section_code" id="section_code{{transaction.0}}" value="{{transaction.16}}" style="width: 100%;" class="operator" required> 
                        <option value="{{transaction.16}}">{{transaction.16}}</option>
                    </select>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" value="{{transaction.6}}" required=""> 
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}



    <!-- ส่วนปุ่มลบข้อมูล -->
    {% for transaction in transactionChangeWork %}
    <div class="ui delete-data modal {{transaction.0}}">
        <div class="header">
            ลบข้อมูล
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.chooseEditShiftAndOff') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการลบข้อมูลหรือไม่ ?</label>
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionChangeWork_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}

    <br>
    <br>
    <br>
    <div id="foot-button">
        <a href="/employee/edit/shiftandoff/shiftandoffsummary" class="ui green button">บันทึก</a>
    </div>


</div>

<script>
$('.add-data.modal')
    .modal('attach events', '.add-data.button', 'show') //ใช้ปุ่มโดยเรียก add-data button
;
</script>
    
{% for transaction in transactionChangeWork %}
<script>
$('.{{transaction.0}}.edit-data.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data button
;
</script>
{% endfor %}

{% for transaction in transactionChangeWork %}
<script>
$('.{{transaction.0}}.delete-data.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data button
;
</script>
{% endfor %}


<script>
const picker = document.getElementById('date');  //เลือกวันจันทร์เท่านั้น
picker.addEventListener('input', function(e){
var day = new Date(this.value).getUTCDay();
if([6,0,2,3,4,5].includes(day)){
    e.preventDefault();
    this.value = '';
    alert('โปรดเลือกวันจันทร์เท่านั้น');
}
});
</script>


{% for transaction in transactionChangeWork %}
<script>
const picker{{transaction.0}} = document.getElementById('date{{transaction.0}}');  //เลือกวันจันทร์เท่านั้น
picker{{transaction.0}}.addEventListener('input', function(e){
var day = new Date(this.value).getUTCDay();
if([6,0,2,3,4,5].includes(day)){
    e.preventDefault();
    this.value = '';
    alert('โปรดเลือกวันจันทร์เท่านั้น');
}
});
</script>
{% endfor %}


<script>
    const data = [] 
    //             employee_id           Remark                 dayoff
    data[0] = ['{{workData1.0.0}}', '{{workData1.0.1}}', '{{workData1.0.2}}']
    {% if workData2 is defined %}
        data[1] = ['{{workData2.0.0}}', '{{workData2.0.1}}', '{{workData2.0.2}}']
    {% endif %}
    {% if workData3 is defined %}
        data[2] = ['{{workData3.0.0}}', '{{workData3.0.1}}', '{{workData3.0.2}}']
    {% endif %}
    {% if workData4 is defined %}
        data[3] = ['{{workData4.0.0}}', '{{workData4.0.1}}', '{{workData4.0.2}}']
    {% endif %}
    {% if workData5 is defined %}
        data[4] = ['{{workData5.0.0}}', '{{workData5.0.1}}', '{{workData5.0.2}}']
    {% endif %}

    function queryWorkData() {
        var name = document.getElementById("name").value
        var check = true 
        for (var i = 0; i < data.length; i++) {
            if (data[i][0] == name) {
                document.getElementById("Oldwork_type").value = data[i][1] ;
                document.getElementById("Oldoff_code").value = data[i][2] ;
                check = false 
                break
            }
        }
        if (check) {
            document.getElementById("Oldwork_type").value = "ไม่พบข้อมูล" ;
            document.getElementById("Oldoff_code").value = "ไม่พบข้อมูล" ;
        }
    }
</script>


{% for transaction in transactionChangeWork %}
<script>
    const data{{transaction.0}} = [] 
    //             employee_id           Remark                 dayoff
    data{{transaction.0}}[0] = ['{{workData1.0.0}}', '{{workData1.0.1}}', '{{workData1.0.2}}']
    {% if workData2 is defined %}
        data{{transaction.0}}[1] = ['{{workData2.0.0}}', '{{workData2.0.1}}', '{{workData2.0.2}}']
    {% endif %}
    {% if workData3 is defined %}
        data{{transaction.0}}[2] = ['{{workData3.0.0}}', '{{workData3.0.1}}', '{{workData3.0.2}}']
    {% endif %}
    {% if workData4 is defined %}
        data{{transaction.0}}[3] = ['{{workData4.0.0}}', '{{workData4.0.1}}', '{{workData4.0.2}}']
    {% endif %}
    {% if workData5 is defined %}
        data{{transaction.0}}[4] = ['{{workData5.0.0}}', '{{workData5.0.1}}', '{{workData5.0.2}}']
    {% endif %}

    function queryWorkData{{transaction.0}}() {
        var name = document.getElementById("name{{transaction.0}}").value
        var check = true 
        for (var i = 0; i < data{{transaction.0}}.length; i++) {
            if (data{{transaction.0}}[i][0] == name) {
                document.getElementById("Oldwork_type{{transaction.0}}").value = data{{transaction.0}}[i][1] ;
                document.getElementById("Oldoff_code{{transaction.0}}").value = data{{transaction.0}}[i][2] ;
                check = false 
                break
            }
        }
        if (check) {
            document.getElementById("Oldwork_type{{transaction.0}}").value = "ไม่พบข้อมูล" ;
            document.getElementById("Oldoff_code{{transaction.0}}").value = "ไม่พบข้อมูล" ;
        }
    }
</script>
{% endfor %}


<script>
    const section_code = [] 
    section_code[0] = ['Remark', 'dayoff', 'section_code', 'aaaaaaaa']
    section_code[1] = ['ปกติ(STS)', 'จันทร์-อังคาร', 'DD202103', 'bbbbbbbb']
    section_code[2] = ['ปกติ(CPAC)', 'จันทร์-อังคาร', 'DD203103', 'ccccccc']
    section_code[3] = ['กะ(STS)', 'จันทร์-อังคาร', 'SK257103', 'dddddd']
    section_code[4] = ['กะ(STS)', 'จันทร์-อังคาร', 'SK258103', 'eeeee']
    section_code[5] = ['กะ(STS)', 'จันทร์-อังคาร', 'DD202103', 'fffff']
    section_code[6] = ['กะ(STS)', 'พุธ-พฤหัสบดี', 'SK256105', 'ggggggg']
    section_code[7] = ['กะ(STS)', 'พุธ-พฤหัสบดี', 'SK257105', 'hhhhhh']


    function checkDayoff() {
        var employee_type = document.getElementById("Newwork_type").value
        var dayoff = document.getElementById("Newoff_code").value
        var check = true
        var arr = []  
        // checkWorkType()
        
        for (var i = 0; i < section_code.length; i++) {
            if (section_code[i][0] == employee_type && section_code[i][1] == dayoff ) {  
                for(var x = 0 ; true ; x++ ){
                    var select = document.getElementById("section_code"), 
                    data = [section_code[i][2] + " " + section_code[i][3]] ;
                    arr.push(data);
                    check = false ;
                    break
                } 
            }
            if (check){
                document.getElementById("section_code").value = "ไม่พบข้อมูล" ;
            }
        }

        const list = document.getElementById("section_code");
        while (list.hasChildNodes()) {
            list.removeChild(list.firstChild);
        }
        
        var option = document.createElement("OPTION");
        txt = document.createTextNode("เลือกรหัสรูปแบบการทำงาน");
        option.appendChild(txt);
        option.setAttribute("value","");
        select.insertBefore(option,select.lastChild);
        
        for(var j = 0; j < arr.length; j++){
            var option = document.createElement("OPTION");
            txt = document.createTextNode(arr[j]);
            option.appendChild(txt);
            option.setAttribute("value",arr[j]);
            select.insertBefore(option,select.lastChild);
            
        }
    }

    // function checkWorkType() {  
    //     var employee_type = document.getElementById("Newwork_type").value
    //     var dayoff = document.getElementById("Newoff_code").value

    //     if (employee_type == "ปกติ(STS)" || employee_type == "ปกติ(CPAC)") {
    //         document.getElementById("select").classList.add("disabled");
    //     }
    //     else if (employee_type == "กะ(STS)" && (dayoff == "A" || dayoff == "B" || dayoff == "C" || dayoff == "D")  ){
    //         document.getElementById("select").classList.add("disabled");
    //     }
    //     else{
    //         document.getElementById("select").classList.remove("disabled");
    //     }
    // }
</script>


{% for transaction in transactionChangeWork %}
<script>
    const section_code{{transaction.0}} = [] 
    section_code{{transaction.0}}[0] = ['Remark', 'dayoff', 'section_code', 'aaaaaaaa']
    section_code{{transaction.0}}[1] = ['ปกติ(STS)', 'จันทร์-อังคาร', 'DD202103', 'bbbbbb']
    section_code{{transaction.0}}[2] = ['ปกติ(CPAC)', 'จันทร์-อังคาร', 'DD203103', 'ccccccc']
    section_code{{transaction.0}}[3] = ['กะ(STS)', 'จันทร์-อังคาร', 'SK257103', 'ddddddd']
    section_code{{transaction.0}}[4] = ['กะ(STS)', 'จันทร์-อังคาร', 'SK258103', 'eeeeee']
    section_code{{transaction.0}}[5] = ['กะ(STS)', 'จันทร์-อังคาร', 'DD202103', 'ffffff']
    section_code{{transaction.0}}[6] = ['กะ(STS)', 'พุธ-พฤหัสบดี', 'SK256105', 'gggggg']
    section_code{{transaction.0}}[7] = ['กะ(STS)', 'พุธ-พฤหัสบดี', 'SK257105', 'hhhhhh']


    function checkDayoff{{transaction.0}}() {
        var employee_type = document.getElementById("Newwork_type{{transaction.0}}").value
        var dayoff = document.getElementById("Newoff_code{{transaction.0}}").value
        var check = true
        var arr{{transaction.0}} = []  
        // checkWorkType{{transaction.0}}()
        
        for (var i = 0; i < section_code{{transaction.0}}.length; i++) {
            if (section_code{{transaction.0}}[i][0] == employee_type && section_code{{transaction.0}}[i][1] == dayoff ) {  
                for(var x = 0 ; true ; x++ ){
                    var select = document.getElementById("section_code{{transaction.0}}"), 
                    data = [section_code[i][2] + " " + section_code[i][3]] ;
                    arr{{transaction.0}}.push(data);
                    check = false ;
                    break
                } 
            }
            if (check){
                document.getElementById("section_code{{transaction.0}}").value = "ไม่พบข้อมูล" ;
            }
        }

        const list = document.getElementById("section_code{{transaction.0}}");
        while (list.hasChildNodes()) {
            list.removeChild(list.firstChild);
        }
        
        var option = document.createElement("OPTION");
        txt = document.createTextNode("เลือกรหัสรูปแบบการทำงาน");
        option.appendChild(txt);
        option.setAttribute("value","");
        select.insertBefore(option,select.lastChild);
        
        for(var j = 0; j < arr{{transaction.0}}.length; j++){
            var option = document.createElement("OPTION");
            txt = document.createTextNode(arr{{transaction.0}}[j]);
            option.appendChild(txt);
            option.setAttribute("value",arr{{transaction.0}}[j]);
            select.insertBefore(option,select.lastChild);
            
        }
    }

    // function checkWorkType{{transaction.0}}() {  
    //     var employee_type = document.getElementById("Newwork_type{{transaction.0}}").value
    //     var dayoff = document.getElementById("Newoff_code{{transaction.0}}").value

    //     if (employee_type == "ปกติ(STS)" || employee_type == "ปกติ(CPAC)") {
    //         document.getElementById("select{{transaction.0}}").classList.add("disabled");
    //     }
    //     else if (employee_type == "กะ(STS)" && (dayoff == "A" || dayoff == "B" || dayoff == "C" || dayoff == "D")  ){
    //         document.getElementById("select{{transaction.0}}").classList.add("disabled");
    //     }
    //     else{
    //         document.getElementById("select{{transaction.0}}").classList.remove("disabled");
    //     }
    // }
</script>
{% endfor %}



{% endblock %}