{% extends './base/layout.html' %}

{% block title %}
ตารางการทำงานปัจจุบัน
{% endblock %}


{% block head %}
ชื่อจริง นามสกุล
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>ตารางการทำงานปัจจุบัน</h1>
    <form class="ui form segment" action="/employee" method="POST">
        <h2>หน่วยงาน: {{ชื่อหน่วยงาน}} {{userid}}</h2>
        <div class="field">
            <h3>1.โปรดเลือกทีมย่อย</h3>
            <div class="ui fluid selection dropdown">
                <input name="content" type="hidden" value="11">
                <div class="default text">เลือกทีมย่อย/ทั้งหมด/ไม่มี</div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item" data-value="11">ทีมย่อย</div>
                    <div class="item" data-value="22">ทั้งหมด</div>
                    <div class="item" data-value="33">ไม่มี</div>
                </div>
            </div>
        </div>
        <div class="field">
            <h3>2.โปรดเลือกชื่อ</h3>
            <div class="ui fluid selection dropdown">
                <input name="employee" type="hidden" value="44">
                <i class="dropdown icon"></i>
                <div class="default text">คนใดคนหนึ่ง/ทั้งหมด</div>
                <div class="menu">
                    <div class="item" data-value="44">บุคคล 1</div>
                    <div class="item" data-value="55">ทั้งหมด</div>
                </div>
            </div>
        </div>
        <h3>3.โปรดเลือกช่วงเวลาที่ต้องการให้แสดง</h3>
        <div class="three fields">
            <div class="field">
                <h4>พ.ศ.</h4>
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="year">
                    <div class="default text">พ.ศ.</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="77">2565</div>
                        <div class="item" data-value="88">2564</div>
                        <div class="item" data-value="99">2563</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <h4>เดือน</h4>
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="month">
                    <div class="default text">เดือน</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="wf">พฤษภาคม</div>
                        <div class="item" data-value="eh">มิถุนายน</div>
                        <div class="item" data-value="ye">กรกฎาคม</div>
                    </div>
                </div>
            </div>
            <div class="field">
                <h4>สัปดาห์ที่</h4>
                <div class="ui fluid selection dropdown">
                    <input type="hidden" name="week">
                    <div class="default text">สัปดาห์ที่(ถ้ามี)</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="wf">1</div>
                        <div class="item" data-value="eh">2</div>
                        <div class="item" data-value="ye">3</div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div id="center-button">
            <button class="ui blue button" type="submit">ค้นหา</button>
            <button class="ui orange reset button">Reset</button>
        </div>
        
        <!-- <div class="ui error message"></div> จาก script ข้างล่าง-->
        <br>
        <br>
        <div id="foot-button">
            <!-- <button class="ui inverted red button" formaction="/">ปิด</button> -->
            <button class="ui green button" formaction="/employee/edit">เปลี่ยนแปลงข้อมูล</button>
        </div>
    </form>

    
    <!-- <div>
        {{ content }}
    </div>
    <div class="form">
        <form action="/employee/edit" method="POST">
            <input type="text" name="content">
            <button class="ui orange button" id="button-clear">Reset</button>
            <button class="ui green button" type="submit">SEND</button>
        </form>
    </div> -->


    <!-- <div class="field">
        <select name="pets" id="pet-select" required>
            <option value="">--Please choose an option--</option>
            <option value="dog">Dog</option>
            <option value="cat">Cat</option>
            <option value="hamster">Hamster</option>
            <option value="parrot">Parrot</option>
            <option value="spider">Spider</option>
            <option value="goldfish">Goldfish</option>
        </select>
    </div> -->


</div>

<script>
// $('.ui.form')
//   .form({
//     fields: {
//       year: {
//         identifier: 'year',
//         rules: [
//           {
//             type   : 'empty',
//             prompt : 'กรุณาเลือกปี พ.ศ.'
//           }
//         ]
//       },
//       month: {
//         identifier: 'month',
//         rules: [
//           {
//             type   : 'empty',
//             prompt : 'กรุณาเลือกเดือน'
//           }
//         ]
//       },
//       week: {
//         identifier: 'week',
//         rules: [
//           {
//             type   : 'empty',
//             prompt : 'กรุณาเลือกสัปดาห์'
//           }
//         ]
//       }
//     }
//   })
// ;
</script>

{% endblock %}