{% extends './base/layout.html' %}

{% block title %}
รายการรออนุมัติ
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>รายการรออนุมัติ</h1>
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <tr>
                    <th>ชื่อ-สกุล</th>
                    <th>วันที่ยื่นคำขอ</th>
                    <th>รายการ</th>
                    <th>สถานะคำขอ</th>
                    <th> </th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                        <td>11-11-2011</td>
                        <td>เปลี่ยนกะตนเอง</td>
                        <td><button class="ui button yellow" type="button">รออนุมัติ</button></td>
                        <td><a href="/employee/edit/shift/self/selflist/selflistsummary">แก้ไข</a>
                            /<a href="/employee/edit/shift/self/selflist/selflistsummary" style="color: red">ยกเลิก</a></td>
                    </tr>
                </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <!-- <table class="ui celled unstackable table">
        <thead>
            <tr>
                <th>ชื่อ</th>
                <th>วันที่ขอเปลี่ยน</th>
                <th>กะเดิม</th>
                <th>กะใหม่(ระบุ)</th>
                <th>โปรดระบุเหตุผล</th>
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                    <td>11-11-2011</td>
                    <td>1</td>
                    <td>
                        <div class="field">
                            <div class="ui fluid selection dropdown">
                                <input name="employee" type="hidden" value="none">
                                <i class="dropdown icon"></i>
                                <div class="default text">--</div>
                                <div class="menu">
                                    <div class="item" data-value="none">--</div>
                                    <div class="item" data-value="01">1</div>
                                    <div class="item" data-value="02">2</div>
                                    <div class="item" data-value="03">3</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="field">
                            <input type="text" name="reason" placeholder="ระบุเหตุผล">
                        </div>
                    </td>
                </tr>
            </tbody>
    </table> -->

</div>

<script>

</script>

{% endblock %}