{% extends './base/layout.html' %}

{% block title %}
รายการรออนุมัติ
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>รายการรออนุมัติ</h1>
    
    <h3>รายการเปลี่ยนกะตนเอง</h3>
    {% if transactionChangeShift_element < 1 %}
    <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <th> </th>
                <th> </th>
                <th>ชื่อ</th>
                <th>วันที่ขอเปลี่ยน</th>
                <th>กะเดิม/อื่น ๆ</th>
                <th>กะใหม่/อื่น ๆ</th>
                <th>เหตุผล</th>
            </thead>
            <tbody>
                {% for transaction in transactionChangeShift %}
                <tr>
                    <td>
                        <a class="ui orange edit-data button {{transaction.0}}">แก้ไข</a>
                    </td>
                    <td>
                        <a class="ui red delete-data button {{transaction.0}}">ยกเลิก</a>
                    </td>
                    <td>{{first_name.0.0}} {{last_name.0.0}}</td>
                    <td>{{transaction.2}}</td>
                    <td>{{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                    <td>{{transaction.6}}</td>
                </tr>
                

                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <br>
    <hr>
    
    <h3>รายการสลับกะกับเพื่อน</h3>
    {% if transactionCoworkShift_element < 1 %}
    <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        {% for transaction in transactionCoworkShift %}
        <table class="ui celled unstackable table">
            <thead>
                <th> </th>
                <th>ชื่อ</th>
                <th>วันที่ขอเปลี่ยน</th>
                <th>กะเดิม</th>
                <th>กะใหม่</th>
            </thead>
            
            <tbody>
                <tr>
                    <td><a class="ui red delete-data button {{transaction.0}}">ยกเลิก</a></td>
                    <td>{{first_name.0.0}} {{last_name.0.0}}</td>
                    <td>{{transaction.2}}</td>
                    <td>{{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                </tr>
            </tbody>
            <tbody>
                <tr>
                    <td> </td>
                    <td>{{transaction.11}} {{transaction.12}}</td>
                    <td>{{transaction.2}}</td>
                    <td>{{transaction.13}}</td>
                    <td>{{transaction.14}}</td>
                </tr>
            </tbody>
            {% if transaction.15 != None %}
            <tbody>
                <tr>
                    <td> </td>
                    <td>{{transaction.16}} {{transaction.17}}</td>
                    <td>{{transaction.2}}</td>
                    <td>{{transaction.18}}</td>
                    <td>{{transaction.19}}</td>
                </tr>
            </tbody>
            {% endif %}
        </table>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เหตุผลที่ต้องการเปลี่ยน: {{transaction.6}}</h4>
        {% endfor %}
    </div>
    {% endif %}

    <br>
    <hr>

    <h3>รายการเพิ่มกะในวันเดียวกัน</h3>
    {% if transactionaddShift_element < 1 %}
    <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <th> </th>
                <th> </th>
                <th>ชื่อ</th>
                <th>วันที่ขอเปลี่ยน</th>
                <th>กะเดิม/อื่น ๆ</th>
                <th>เพิ่มกะใหม่/อื่น ๆ</th>
                <th>เหตุผล</th>
            </thead>
            <tbody>
                {% for transaction in transactionaddShift %}
                <tr>
                    <td>
                        <a class="ui orange edit-data button {{transaction.0}}">แก้ไข</a>
                    </td>
                    <td>
                        <a class="ui red delete-data button {{transaction.0}}">ยกเลิก</a>
                    </td>
                    <td>{{first_name.0.0}} {{last_name.0.0}}</td>
                    <td>{{transaction.2}}</td>
                    <td>{{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                    <td>{{transaction.6}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <br>
    <hr>

    <h3>รายการเปลี่ยนรูปแบบการทำงานและวันหยุด</h3>
    {% if transactionChangeWork_element < 1 %}
    <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <th> </th>
                <th> </th>
                <th>ชื่อ</th>
                <th>วันที่มีผล</th>
                <th>รูปแบบการทำงานเดิม</th>
                <th>รูปแบบการทำงานใหม่</th>
                <th>วันหยุดเดิม</th>
                <th>วันหยุดใหม่</th>
                <th>เลือกรูปแบบกะ</th>
                <th>เหตุผล</th>
            </thead>
            <tbody>
                {% for transaction in transactionChangeWork %}
                <tr>
                    <td>
                        <a class="ui orange edit-data button {{transaction.0}}">แก้ไข</a>
                    </td>
                    <td>
                        <a class="ui red delete-data button {{transaction.0}}">ยกเลิก</a>
                    </td>
                    <td>{{transaction.2}} {{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                    <td>{{transaction.12}}</td>
                    <td>{{transaction.13}}</td>
                    <td>{{transaction.14}}</td>
                    <td>{{transaction.15}}</td>
                    <td>{{transaction.16}}</td>
                    <td>{{transaction.6}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}

    <br>
    <hr>

    <h3>รายการเปลี่ยนหน่วยงานใหม่</h3>
    {% if transactionaddemployee_element < 1 %}
        <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <th> </th>
                <th> </th>
                <th>เลขประจำตัว</th>
                <th>ชื่อ-นามสกุล</th>
                <th>วันเริ่มต้น</th>
                <th>วันสิ้นสุด</th>
                <th>หน่วยงานเดิม</th>
                <th>หน่วยงานใหม่</th>
                <th>ชื่อ-นามสกุล หัวหน้าคนใหม่</th>
            </thead>
            <tbody>
                {% for transaction in transactionaddemployee %}
                <tr>
                    <td>
                        <a class="ui orange edit-data-section button {{transaction.0}}">แก้ไข</a>
                    </td>
                    <td>
                        <a class="ui red delete-data-section button {{transaction.0}}">ยกเลิก</a>
                    </td>
                    <td>{{transaction.1}}</td>
                    <td>{{transaction.2}} {{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                    <td>{{transaction.5}}</td>
                    <td>{{transaction.6}}</td>
                    <td>{{transaction.7}}</td>
                    <td>{{transaction.14}} {{transaction.15}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}


    <!-- transactionaddemployee edit and delete -->
    <!-- ส่วนปุ่มแก้ไขเพิ่มคนในหน่วยงาน -->
    {% for transaction in transactionaddemployee %}
    <div class="ui edit-data-section modal {{transaction.0}}">
        <div class="header">
            แก้ไขรายการ
        </div>
        <div class="content">
            <form id="edit-form-section{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">              
                <div class="field">
                    <label>ท่านต้องการแก้ไขรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="addemployee">
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionaddemployee_id" value="{{transaction.0}}">
                </div>                  
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form-section{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- ส่วนปุ่มลบข้อมูลเพิ่มคนในหน่วยงาน -->
    {% for transaction in transactionaddemployee %}
    <div class="ui delete-data-section modal {{transaction.0}}">
        <div class="header">
            ยกเลิกรายการ
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการยกเลิกรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="addemployee">
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionaddemployee_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}
    <!--  -->

    
    <!-- transactionaddShift edit and delete -->
    <!-- ส่วนปุ่มแก้ไขเพิ่มกะในวันเดียวกัน -->
    {% for transaction in transactionaddShift %}
    <div class="ui edit-data modal {{transaction.0}}">
        <div class="header">
            แก้ไขรายการ
        </div>
        <div class="content">
            <form id="edit-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการแก้ไขรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="addShift">
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionaddShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- ส่วนปุ่มลบข้อมูลเพิ่มกะในวันเดียวกัน -->
    {% for transaction in transactionaddShift %}
    <div class="ui delete-data modal {{transaction.0}}">
        <div class="header">
            ยกเลิกรายการ
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการยกเลิกรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="addShift">
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionaddShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}
    <!--  -->


    <!-- transactionChangeShift edit and delete -->
    <!-- ส่วนปุ่มแก้ไขเปลี่ยนกะตนเอง -->
    {% for transaction in transactionChangeShift %}
    <div class="ui edit-data modal {{transaction.0}}">
        <div class="header">
            แก้ไขรายการ
        </div>
        <div class="content">
            <form id="edit-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการแก้ไขรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="ChangeShift">
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}
    
    <!-- ส่วนปุ่มลบข้อมูลเปลี่ยนกะตนเอง -->
    {% for transaction in transactionChangeShift %}
    <div class="ui delete-data modal {{transaction.0}}">
        <div class="header">
            ยกเลิกรายการ
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการยกเลิกรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="ChangeShift">
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}
    <!--  -->


    <!-- transactionChangeWork edit and delete -->
    <!-- ส่วนปุ่มแก้ไขเปลี่ยนรูปแบบการทำงานและวันหยุด -->
    {% for transaction in transactionChangeWork %}
    <div class="ui edit-data modal {{transaction.0}}">
        <div class="header">
            แก้ไขรายการ
        </div>
        <div class="content">
            <form id="edit-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการแก้ไขรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="ChangeWork">
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionChangeWork_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- ส่วนปุ่มลบข้อมูลเปลี่ยนรูปแบบการทำงานและวันหยุด -->
    {% for transaction in transactionChangeWork %}
    <div class="ui delete-data modal {{transaction.0}}">
        <div class="header">
            ยกเลิกรายการ
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการยกเลิกรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="ChangeWork">
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionChangeWork_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}
    <!--  -->

    <!-- transactionCoworkShift edit and delete -->
    <!-- ส่วนปุ่มลบข้อมูลสลับกะกับเพื่อน -->
    {% for transaction in transactionCoworkShift %}
    <div class="ui delete-data modal {{transaction.0}}">
        <div class="header">
            ยกเลิกรายการ
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.pending') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการยกเลิกรายการนี้หรือไม่ ?</label>
                    <input type="hidden" name="select" value="CoworkShift">
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionCoworkShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}
    <!--  -->

</div>

<style>
/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
</style>


{% for transaction in transactionaddemployee %}
<script>
$('.{{transaction.0}}.edit-data-section.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data-section.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data-section button
;
</script>
{% endfor %}

{% for transaction in transactionaddemployee %}
<script>
$('.{{transaction.0}}.delete-data-section.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data-section.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data-section button
;
</script>
{% endfor %}


{% for transaction in transactionaddShift %}
<script>
$('.{{transaction.0}}.edit-data.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data button
;
</script>
{% endfor %}

{% for transaction in transactionaddShift %}
<script>
$('.{{transaction.0}}.delete-data.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data button
;
</script>
{% endfor %}


{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.edit-data.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data button
;
</script>
{% endfor %}

{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.delete-data.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data button
;
</script>
{% endfor %}


{% for transaction in transactionChangeWork %}
<script>
$('.{{transaction.0}}.edit-data.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data button
;
</script>
{% endfor %}

{% for transaction in transactionChangeWork %}
<script>
$('.{{transaction.0}}.delete-data.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data button
;
</script>
{% endfor %}


{% for transaction in transactionCoworkShift %}
<script>
$('.{{transaction.0}}.delete-data.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data button
;
</script>
{% endfor %}


{% endblock %}