{% extends './base/layout.html' %}

{% block title %}
รายการถูกปฏิเสธ
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>รายการถูกปฏิเสธ</h1>
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <tr>
                    <th>ชื่อ-สกุล</th>
                    <th>วันที่ยื่นคำขอ</th>
                    <th>รายการ</th>
                    <th>สถานะคำขอ</th>
                    <th> </th>
                </tr>
            </thead>
                <tbody>
                    <tr>
                        <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                        <td>11-11-2011</td>
                        <td>เปลี่ยนกะตนเอง</td>
                        <td><button class="ui button red" type="button">ปฏิเสธ</button></td>
                        <td>
                            <a href="/employee/edit/shift/self/selflist/selflistsummary">แก้ไข</a>
                        </td>
                    </tr>
                </tbody>
        </table>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

<script>

</script>

{% endblock %}