{% extends './base/layout.html' %}

{% block title %}
เปลี่ยนกะ
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>เปลี่ยนกะ</h1>
    <h3>โปรดระบุกะใหม่ที่ต้องการเปลี่ยน</h3>

    {% if transactionChangeShift_element < 1 %}
    <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <th>ชื่อ</th>
                <th>วันที่ขอเปลี่ยน</th>
                <th>กะเดิม/อื่น ๆ</th>
                <th>กะใหม่/อื่น ๆ</th>
                <th>โปรดระบุเหตุผล</th>
                <th> </th>
                <th> </th>
            </thead>
            <tbody>
                {% for transaction in transactionChangeShift %}
                <tr>
                    <td>{{first_name.0.0}} {{last_name.0.0}}</td>
                    <td>{{transaction.2}}</td>
                    <td>{{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                    <td>{{transaction.6}}</td>
                    <td>
                        <a class="ui orange edit-data button {{transaction.0}}">แก้ไข</a>
                    </td>
                    <td>
                        <a class="ui red delete-data button {{transaction.0}}">ลบ</a>
                    </td>
                </tr>
                

                {% endfor %}
            </tbody>
        </table>
    </div>
    
    {% endif %}


    <button class="ui primary add-data button" type="button"><i class="plus add icon"></i>เพิ่มรายการ</button>
    
    <!-- ส่วนปุ่มเพิ่มข้อมูล -->
    <div class="ui add-data modal">
        <div class="header">
            เพิ่มรายการ
        </div>
        <div class="content">
            <!-- add data action -->
            <form id="add-form" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ชื่อ</label>
                    <input type="hidden" name="choose" value="add">
                    <input type="text" name="name" value="{{first_name.0.0}} {{last_name.0.0}}" readonly>
                </div>
                <div class="required field">
                    <label>วันที่ขอเปลี่ยน</label>
                    <input type="date" id="date" name="date" placeholder="dd/mm/YYYY" onchange="myScript()" required=""/>
                </div>
                <div class="field">
                    <label>กะเดิม/อื่น ๆ</label>
                    <div class="ui input">
                        <input type="text" id="box" name="OldShift" readonly>
                    </div>
                </div>

                <!-- ////////////////////////////////////////////// -->

                <div class="required field">
                    <label>กะใหม่/อื่น ๆ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="NewShift" type="hidden" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือก</div> 
                        <div class="menu">
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                            <div class="item" data-value="ลา">ลา</div>
                            <div class="item" data-value="อบรม">อบรม</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" placeholder="โปรดระบุเหตุผล" required=""> 
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="add-form" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>

    

    <!-- ส่วนปุ่มแก้ไข -->
    {% for transaction in transactionChangeShift %}
    <div class="ui edit-data modal {{transaction.0}}">
        <div class="header">
            แก้ไขข้อมูล
        </div>
        <div class="content">
            <form id="edit-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <!-- <div class="field">
                    <label>ชื่อ</label>
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                    <input type="text" name="name" value="{{first_name.0.0}} {{last_name.0.0}}" readonly>
                </div>
                <div class="field">
                    <label>วันที่ขอเปลี่ยน</label>
                    <input type="date" id="date" name="date" placeholder="dd/mm/YYYY" value="{{transaction.2}}" readonly/>
                </div>
                <div class="field">
                    <label>กะเดิม/อื่น ๆ</label>
                    <div class="ui input">
                        <input type="text" id="box111" name="OldShift" value="{{transaction.3}}" readonly>
                    </div>
                </div>
                <div class="required field">
                    <label>กะใหม่/อื่น ๆ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="NewShift" type="hidden" value="{{transaction.4}}" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือก</div> 
                        <div class="menu">
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                            <div class="item" data-value="ลา">ลา</div>
                            <div class="item" data-value="อบรม">อบรม</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" placeholder="โปรดระบุเหตุผล" value="{{transaction.6}}" required=""> 
                </div> -->

                <div class="field">
                    <label>ชื่อ</label>
                    <input type="hidden" name="choose" value="update">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                    <input type="text" name="name" value="{{first_name.0.0}} {{last_name.0.0}}" readonly>
                </div>
                <div class="required field">
                    <label>วันที่ขอเปลี่ยน</label>
                    <input type="date" id="date{{transaction.0}}" name="date" placeholder="dd/mm/YYYY" value="{{transaction.2}}" onchange="myScript{{transaction.0}}()" required=""/>
                </div>
                <div class="field">
                    <label>กะเดิม/อื่น ๆ</label>
                    <div class="ui input">
                        <input type="text" id="box{{transaction.0}}" name="OldShift" value="{{transaction.3}}" readonly>
                    </div>
                </div>

                <!-- ////////////////////////////////////////////// -->

                <div class="required field">
                    <label>กะใหม่/อื่น ๆ</label>
                    <div class="ui fluid selection dropdown">
                        <input name="NewShift" type="hidden" value="{{transaction.4}}" required="">
                        <i class="dropdown icon"></i>
                        <div class="default text">เลือก</div> 
                        <div class="menu">
                            <div class="item" data-value="1">1</div>
                            <div class="item" data-value="2">2</div>
                            <div class="item" data-value="3">3</div>
                            <div class="item" data-value="ลา">ลา</div>
                            <div class="item" data-value="อบรม">อบรม</div>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    <label>โปรดระบุเหตุผล</label>
                    <input type="text" name="reason" placeholder="โปรดระบุเหตุผล" value="{{transaction.6}}" required=""> 
                </div>

            </form>
        </div>
        <div class="actions">
            <button type="submit" form="edit-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}



    <!-- ส่วนปุ่มลบข้อมูล -->
    {% for transaction in transactionChangeShift %}
    <div class="ui delete-data modal {{transaction.0}}">
        <div class="header">
            ลบข้อมูล
        </div>
        <div class="content">
            <form id="delete-form{{transaction.0}}" class="ui form" action="{{ url_for('employee.editYourselfList') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการลบข้อมูลหรือไม่ ?</label>
                    <input type="hidden" name="choose" value="delete">
                    <input type="hidden" name="transactionChangeShift_id" value="{{transaction.0}}">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="delete-form{{transaction.0}}" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>
    {% endfor %}

    <br>
    <br>
    <br>
    <div id="foot-button">
        <a href="/employee/edit/shift/self/selflist/selflistsummary" class="ui green button">บันทึก</a>
    </div>


</div>

<script>
$('.add-data.modal')
    .modal('attach events', '.add-data.button', 'show') //ใช้ปุ่มโดยเรียก add-data button
;
</script>
    
{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.edit-data.modal')
    .modal('attach events', '.{{transaction.0}}.edit-data.button', 'set active') //ใช้ปุ่มโดยเรียก edit-data button
;
</script>
{% endfor %}

{% for transaction in transactionChangeShift %}
<script>
$('.{{transaction.0}}.delete-data.modal')
    .modal('attach events', '.{{transaction.0}}.delete-data.button', 'set active') //ใช้ปุ่มโดยเรียก delete-data button
;
</script>
{% endfor %}

<script>
    const data = [] 
    data[0] = ['2022-07-30', '1']
    data[1] = ['2022-07-20', '2']
    data[2] = ['2022-07-10', '3']
    function myScript() {
        var datee = document.getElementById("date").value
        var check = true 
        for (var i = 0; i < data.length; i++) {
            if (data[i][0] == datee) {
                document.getElementById("box").value = data[i][1] ;
                check = false 
                break
            }
        }
        if (check) {
            document.getElementById("box").value = "ไม่พบข้อมูล" ;
        }
    }
</script>

{% for transaction in transactionChangeShift %}
<script>
    const data{{transaction.0}} = [] 
    data{{transaction.0}}[0] = ['2022-07-30', '1']
    data{{transaction.0}}[1] = ['2022-07-20', '2']
    data{{transaction.0}}[2] = ['2022-07-10', '3']
    function myScript{{transaction.0}}() {
        var datee = document.getElementById("date{{transaction.0}}").value
        var check = true 
        for (var i = 0; i < data{{transaction.0}}.length; i++) {
            if (data{{transaction.0}}[i][0] == datee) {
                document.getElementById("box{{transaction.0}}").value = data{{transaction.0}}[i][1] ;
                check = false 
                break
            }
        }
        if (check) {
            document.getElementById("box{{transaction.0}}").value = "ไม่พบข้อมูล" ;
        }
    }
</script>
{% endfor %}


{% endblock %}