{% extends './base/layout.html' %}

{% block title %}
รูปแบบกะ
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>รูปแบบกะ</h1>
    <form class="ui form segment" action="/employee/edit/shiftandoff" method="POST">
        
        <h4>โปรดระบุเหตุผลที่ต้องการเปลี่ยน</h4>
        <div class="field">
            <div class="field">
                <div class="ui fluid selection dropdown">
                    <input name="employee" type="hidden" value="none">
                    <i class="dropdown icon"></i>
                    <div class="default text">--</div>
                    <div class="menu">
                        <div class="item" data-value="none">--</div>
                        <div class="item" data-value="11">DD203105</div>
                        <div class="item" data-value="22">DD202102</div>
                        <div class="item" data-value="33">SK256102</div>
                    </div>
                </div>
            </div>
        </div>

        <div id="center-button">
            <button class="ui blue button" id='center-button' type="button">แสดงข้อมูลกะทั้งเดือน</button>
        </div>

        <br>
        <div id="foot-button">
            <!-- <button class="ui inverted red button" formaction="/employee/edit/shift">กลับ</button> -->
            <button class="ui green button" type="submit">ยืนยันการเลือก</button>
        </div>
    </form>

</div>

<script>

</script>

{% endblock %}