{% extends './base/layout.html' %}

{% block title %}
ระบบจัดตารางกะ (พนักงาน)
{% endblock %}


{% block head %}

{% endblock %}


{% block body %}
<div class="ui container">
    <h1>ระบบจัดตารางกะ (พนักงาน)</h1>
    
    <br>
    <br>
    <!-- line get data -->
    <p class="hide-userId" id="userId"></p>
    <div style="display: flex; justify-content: center; align-items: center;">
        <!-- <button id="btnLogIn" class="ui button green fluid" onclick="logIn()"><i class="linechat icon"></i>ล็อกอิน</button> -->
        <input id="btnLogIn" type="image" src="{{url_for('static', filename='images/btn_login_base.png')}}" 
        onmouseout="mouseoutImage()" onmouseenter="mouseoverImage()" onmousedown="mousedownImage()" 
        onclick="logIn()"/>
        <button id="btnLogOut" class="ui button red fluid" onclick="logOut()">ล็อกเอาท์</button>
    </div>
    <br>
    <br>
    <br>
    <a href="/employee">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="ui button blue fluid">เริ่มต้นใช้งาน</button>
        </div>
    </a>
    <br>
    <br>
    <br>
    <a href="/manager">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="ui button purple fluid">ไปที่เมนูหัวหน้า</button>
        </div>
    </a> 
    <br>
    <br>
    <br>
    <a href="/director">
        <div style="display: flex; justify-content: center; align-items: center;">
            <button class="ui button brown fluid">ไปที่เมนูผู้จัดการ</button>
        </div>
    </a> 
    
    <br>

    

</div>


<!-- line button script -->
<script>
  function mouseoutImage(){
    document.getElementById('btnLogIn').src="{{url_for('static', filename='images/btn_login_base.png')}}";
  }
  function mouseoverImage(){
    document.getElementById('btnLogIn').src="{{url_for('static', filename='images/btn_login_hover.png')}}";
  }
  function mousedownImage(){
    document.getElementById('btnLogIn').src="{{url_for('static', filename='images/btn_login_press.png')}}";
  }
</script>


<!-- line notify -->
<script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

<script>

  function logOut() {
    liff.logout()
    window.location.reload()
  }
  function logIn() {
    liff.login({ redirectUri: window.location.href })
  }
  async function getUserProfile() {
    const profile = await liff.getProfile()

    document.getElementById("userId").append(profile.userId)
    // window.location.href = "screen/employee/?userId=" + profile.userId
    window.location.href = "/" + "?userId=" + profile.userId // get userId
  }
  
  async function main() {
    await liff.init({ liffId: "1656632478-zGvenBjQ" , withLogin0nExternalBrowser: true })
    if (liff.isInClient()) {
      getUserProfile()
    } else {
      if (liff.isLoggedIn()) {
        getUserProfile()
        document.getElementById("btnLogIn").style.display = "none"
        document.getElementById("btnLogOut").style.display = "block"
      } else {
        document.getElementById("btnLogIn").style.display = "block"
        document.getElementById("btnLogOut").style.display = "none"
      }
    }
  }
  main()
</script>

<style>
  .hide-userId{
  display:none;
}
</style>

{% endblock %}