{% extends './base/layout.html' %}

{% block title %}
สรุปข้อมูลเพิ่มกะในวันเดียวกัน
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<div class="ui container">
    <h1>สรุปข้อมูลเพิ่มกะในวันเดียวกัน</h1>
    <form class="ui form segment" action="/manager/edit/addshift/addshiftsummary/addshifttransactionend" method="POST">
        <h3>1.โปรดเลือกวันที่และกะที่ต้องการเพิ่มกะ</h3>
            <h4 h1 style="font-family: sans-serif; text-align: center;">ไม่มีรายการเปลี่ยนแปลงในขณะนี้</h4>
        <div class="table-scrolling">
            <table class="ui celled unstackable table">
                <thead>
                    <tr>
                        <th>ชื่อ</th>
                        <th>วันที่ขอเปลี่ยน</th>
                        <th>กะเดิม/อื่น ๆ</th>
                        <th>เพิ่มกะ/อื่น ๆ</th>
                        <th>แสดง</th>
                        <th>เหตุผล</th>
                    </tr>
                </thead>
                    <tbody>
                        <tr>
                            <td>สิบเอ็ดสิบเอ็ด สองศูนย์หนึ่งๆ</td>
                            <td>11-11-2011</td>
                            <td>1</td>
                            <td>2</td>
                            <td>
                                <span>1</span>+<span style="color: red;">2</span>
                            </td>
                            <td>เพื่อนลาป่วย</td>
                        </tr>
                    </tbody>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

        <h4 h1 style="font-family: sans-serif; text-align: center;">ข้อมูลตารางกะใหม่ พ.ศ.:  เดือน:  สัปดาห์: </h4>

        <br>
        <div id="foot-button">
            <!-- <button class="ui inverted red button" formaction="/employee/edit/shift">กลับ</button> -->
            <button class="ui yellow button" formaction="/manager/edit/addshift">แก้ไข</button>
            <button class="ui button red" type="button">ยกเลิก</button>
            <button class="ui green button" type="submit">ยืนยัน</button>
        </div>
    </form>

</div>

<script>

</script>

{% endblock %}