{% extends './base/layout.html' %}

{% block title %}
สรุปข้อมูลเปลี่ยนกะตนเอง
{% endblock %}


{% block head %}
คุณ {{first_name.0.0}} {{last_name.0.0}}
{% endblock %}


{% block body %}
<!-- <div class="table-scrolling">
    <div class="ui container">
        <div id="calendar"></div>
    </div>
</div>

<script>
    calendarEl = document.getElementById('calendar');
    let calendar = new FullCalendar.Calendar(calendarEl, {
        locale: 'th',
        timeZone: 'local',
        firstDay: 1,
        headerToolbar: {
            left: 'prevYear,nextYear prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth',
            
        },
        buttonIcons: false, // show the prev/next text
        weekNumbers: true,
        navLinks: true, // can click day/week names to navigate views
        editable: false,
        dayMaxEvents: true, // allow "more" link when too many events

        events: [{
    title:"วันหยุดประจำสัปดาห์",
    daysOfWeek: [ 6, 0 ],
    textColor: 'black',
    borderColor: 'black',
    backgroundColor:  'yellow',
},
{   
    title:"ทำงาน",
    daysOfWeek: [ 1,2,3,4,5 ],
    textColor: 'black',
    borderColor: 'black',
    backgroundColor: 'white',
    startTime: '7:30',
    endTime: '16:30'
},],

        // {   
        //     title:"วันหยุดนักขัตฯ/ชดเชย",
        //     start: '2022-06-03',
        //     borderColor: 'black',
        //     backgroundColor: 'red',
        // },],
              
});
calendar.render();
</script> -->



<div class="ui container">
    <h1>สรุปข้อมูลเปลี่ยนกะตนเอง</h1>

    {% if transactionChangeShift_element < 1 %}
    <h4 style="font-family: sans-serif; text-align: center;">ไม่มีรายการในปัจจุบัน</h4>

    {% else %}
    <div class="table-scrolling">
        <table class="ui celled unstackable table">
            <thead>
                <th>ชื่อ</th>
                <th>วันที่ขอเปลี่ยน</th>
                <th>กะเดิม/อื่น ๆ</th>
                <th>กะใหม่/อื่น ๆ</th>
                <th>โปรดระบุเหตุผล</th>
            </thead>
            <tbody>
                {% for transaction in transactionChangeShift %}
                <tr>
                    <td>{{transaction.11}} {{transaction.12}}</td>
                    <td>{{transaction.2}}</td>
                    <td>{{transaction.3}}</td>
                    <td>{{transaction.4}}</td>
                    <td>{{transaction.6}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
    <br>
    <br>
    <br>
    <h4 h1 style="font-family: sans-serif; text-align: center; color: red;">กรุณาตรวจสอบรายการของท่านและลบรายการที่ท่านไม่ต้องการก่อนกดยืนยัน</h4>
    <!-- <h4 h1 style="font-family: sans-serif; text-align: center;">ข้อมูลตารางใหม่ พ.ศ.:  เดือน:  สัปดาห์: </h4> -->
    <br>
    <div id="foot-button" style="width:100%;text-align:center;">
        <!-- <button class="ui inverted red button" formaction="/employee/edit/shift">กลับ</button> -->
        <a href="/manager/edit/selflist" class="ui yellow button">แก้ไข</a>
        <a class="ui red button cancel-data">ยกเลิก</a>
        <a class="ui green button confirm-data">ยืนยัน</a>
    </div>


    <!-- ส่วนปุ่มยกเลิก -->
    <div class="ui cancel-data modal">
        <div class="header">
            ยกเลิกรายการ
        </div>
        <div class="content">
            <form id="cancel-form" class="ui form" action="{{ url_for('manager.employeeSelfTransaction') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการยกเลิกรายการทั้งหมดหรือไม่ ?</label>
                    <input type="hidden" name="choose" value="cancel">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="cancel-form" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>


    <!-- ส่วนปุ่มยืนยัน -->
    <div class="ui confirm-data modal">
        <div class="header">
            ยืนยันรายการ
        </div>
        <div class="content">
            <form id="confirm-form" class="ui form" action="{{ url_for('manager.employeeSelfTransaction') }}" method="POST">
                <div class="field">
                    <label>ท่านต้องการยืนยันรายการทั้งหมดหรือไม่ ?</label>
                    <input type="hidden" name="choose" value="confirm">
                </div>
            </form>
        </div>
        <div class="actions">
            <button type="submit" form="confirm-form" class="ui green ok inverted button">ยืนยัน</button>
            <div class="ui red cancel inverted button">
                ยกเลิก
            </div>
        </div>
    </div>

</div>

<script>
$('.cancel-data.modal')
    .modal('attach events', '.cancel-data.button', 'show') //ใช้ปุ่มโดยเรียก cancel-data button
;

$('.confirm-data.modal')
    .modal('attach events', '.confirm-data.button', 'show') //ใช้ปุ่มโดยเรียก confirm-data button
;
</script>

{% endblock %}